<!DOCTYPE html>
<html>
<head>
  <title>Junket</title>
  <%= stylesheet_link_tag    "junket/application", media: "all" %>
  <%= javascript_include_tag "junket/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
